In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
import sklearn

In [43]:
train_data = pd.read_csv('C:/Users/cc/Desktop/Kaggle/Kaggle_feature_encoding/train.csv')
test_data = pd.read_csv('C:/Users/cc/Desktop/Kaggle/Kaggle_feature_encoding/test.csv')

In [44]:
train_data.set_index('id', inplace=True)
test_data.set_index('id', inplace=True)

In [45]:
train_data.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [46]:
a = pd.Series(dict_ord4).reset_index()
a['index'] = a['index'].map(lambda x : str.upper(x))
a =a.set_index('index').to_dict()
a[0]

{'A': 0.0,
 'B': 1.0,
 'C': 2.0,
 'D': 3.0,
 'E': 4.0,
 'F': 5.0,
 'G': 6.0,
 'H': 7.0,
 'I': 8.0,
 'J': 9.0,
 'K': 10.0,
 'L': 11.0,
 'M': 12.0,
 'N': 13.0,
 'O': 14.0,
 'P': 15.0,
 'Q': 16.0,
 'R': 17.0,
 'S': 18.0,
 'T': 19.0,
 'U': 20.0,
 'V': 21.0,
 'W': 22.0,
 'X': 23.0,
 'Y': 24.0,
 'Z': 25.0}

In [47]:
dict_ord1 = {'Novice' : 0.0, 'Contributor' : 1.0, 'Expert' : 2.0, 'Master' : 3.0, 'Grandmaster': 4.0}
dict_ord3 = {'a': 0.0, 'b': 1.0, 'c': 2.0, 'd': 3.0, 'e': 4.0, 'f': 5.0, 'g': 6.0, 'h': 7.0, 
        'i': 8.0, 'j': 9.0, 'k': 10.0, 'l': 11.0, 'm': 12.0, 'n': 13.0, 'o': 14.0}
dict_ord4 = {'A': 0.0, 'B': 1.0, 'C': 2.0, 'D': 3.0, 'E': 4.0, 'F': 5.0, 'G': 6.0, 'H': 7.0, 'I': 8.0, 'J': 9.0,
 'K': 10.0, 'L': 11.0, 'M': 12.0, 'N': 13.0, 'O': 14.0, 'P': 15.0, 'Q': 16.0, 'R': 17.0, 'S': 18.0, 'T': 19.0,
 'U': 20.0, 'V': 21.0, 'W': 22.0, 'X': 23.0, 'Y': 24.0, 'Z': 25.0}
dict_ord5 = {'AP': 0, 'Ai': 1, 'Aj': 2, 'BA': 3, 'BE': 4, 'Bb': 5, 'Bd': 6, 'Bn': 7, 'CL': 8, 'CM': 9, 'CU': 10,
 'CZ': 11, 'DH': 12, 'DN': 13, 'Dc': 14, 'Dx': 15, 'Ed': 16, 'Eg': 17, 'Er': 18, 'FI': 19, 'Fd': 20, 'Fo': 21, 'GD': 22,
 'GJ': 23, 'Gb': 24, 'Gx': 25, 'Hj': 26, 'IK': 27, 'JX': 28, 'Jc': 29, 'Jf': 30, 'Jt': 31, 'KR': 32, 'KZ': 33, 'Kf': 34,
 'Kq': 35, 'LE': 36, 'MC': 37, 'MO': 38, 'MV': 39, 'Mf': 40, 'Ml': 41, 'Mx': 42, 'NV': 43, 'Nf': 44, 'Nk': 45, 'OR': 46,
 'Ob': 47, 'Os': 48, 'PA': 49, 'PQ': 50, 'PZ': 51, 'Ps': 52, 'QM': 53, 'Qb': 54, 'Qh': 55, 'Qo': 56, 'RG': 57, 'RL': 58,
 'RP': 59, 'Rm': 60, 'Ry': 61, 'SB': 62, 'Sc': 63, 'TR': 64, 'TZ': 65, 'To': 66, 'UO': 67, 'Uk': 68, 'Uu': 69, 'Vf': 70,
 'Vx': 71, 'WE': 72, 'Wc': 73, 'Wv': 74, 'XI': 75, 'Xh': 76, 'Xi': 77, 'YC': 78, 'Yb': 79, 'Ye': 80, 'ZR': 81, 'ZS': 82,
 'Zq': 83, 'aF': 84, 'aM': 85, 'aO': 86, 'aP': 87, 'ac': 88, 'av': 89, 'bF': 90, 'bJ': 91, 'be': 92, 'cA': 93, 'cG': 94,
 'cW': 95, 'ck': 96, 'cp': 97, 'dB': 98, 'dE': 99, 'dN': 100, 'dO': 101, 'dP': 102, 'dQ': 103, 'dZ': 104, 'dh': 105,
 'eG': 106, 'eQ': 107, 'eb': 108, 'ek': 109, 'ex': 110, 'fO': 111, 'fh': 112, 'gJ': 113, 'gM': 114, 'hL': 115, 'hT': 116,
 'hh': 117, 'hp': 118, 'iT': 119, 'ih': 120, 'jS': 121, 'jV': 122, 'je': 123, 'jp': 124, 'kC': 125, 'kE': 126, 'kK': 127,
 'kL': 128, 'kW': 129, 'ke': 130, 'kr': 131, 'kw': 132, 'lF': 133, 'lL': 134, 'll': 135, 'lx': 136, 'mb': 137, 'mc': 138,
 'mm': 139, 'nX': 140, 'nh': 141, 'oC': 142, 'oG': 143, 'oK': 144, 'od': 145, 'on': 146, 'ps': 147, 'qA': 148, 'qK': 149,
 'qP': 150, 'qX': 151, 'qo': 152, 'qv': 153, 'qw': 154, 'rZ': 155, 'ri': 156, 'rp': 157, 'sD': 158, 'sV': 159, 'sY': 160,
 'sn': 161, 'su': 162, 'tM': 163, 'tP': 164, 'tv': 165, 'uJ': 166, 'uS': 167, 'ud': 168, 'us': 169, 'ut': 170, 'uy': 171,
 'vK': 172, 'vy': 173, 'wu': 174, 'wy': 175, 'xy': 176, 'yN': 177, 'yY': 178, 'yc': 179, 'zU': 180}

In [48]:
def preprocessing(data):
    data['bin_3'] = data['bin_3'].map(lambda x : 1 if x =='T' else 0)
    data['bin_4'] = data['bin_4'].map(lambda x : 1 if x =='Y' else 0)    
    data['ord_1'] = data['ord_1'].map(dict_ord1)
    data['ord_2'] = data['ord_2'].map({'Freezing' : 0.0, 'Cold' : 1.0, 'Warm' : 2.0, 'Hot' : 3.0, 'Boiling Hot' : 4.0, 'Lava Hot' : 5.0})
    data['ord_3'] = data['ord_3'].map(dict_ord3)
    data['ord_4'] = data['ord_4'].map(dict_ord4)
    data['ord_5'] = data['ord_5'].map(dict_ord5)
    data = pd.get_dummies(data, columns=['nom_0', 'nom_1', 'nom_2', 'nom_3', 'nom_4'])
    return data

In [49]:
from category_encoders.target_encoder import TargetEncoder

In [50]:
high_cat = train_data.iloc[:, 10:15].columns.tolist()
high_cat

['nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9']

In [51]:
TE_encoder = TargetEncoder()
train_te = TE_encoder.fit_transform(train_data[high_cat], train_data['target'])
test_te = TE_encoder.transform(test_data[high_cat])

C:\Users\cc\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [52]:
train_data[high_cat] = train_te
test_data[high_cat] = test_te

In [53]:
train_data = preprocessing(train_data)
test_data = preprocessing(test_data)

In [55]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300000 entries, 0 to 299999
Data columns (total 44 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   bin_0             300000 non-null  int64
 1   bin_1             300000 non-null  int64
 2   bin_2             300000 non-null  int64
 3   bin_3             300000 non-null  int64
 4   bin_4             300000 non-null  int64
 5   nom_5             300000 non-null  float64
 6   nom_6             300000 non-null  float64
 7   nom_7             300000 non-null  float64
 8   nom_8             300000 non-null  float64
 9   nom_9             300000 non-null  float64
 10  ord_0             300000 non-null  int64
 11  ord_1             300000 non-null  float64
 12  ord_2             300000 non-null  float64
 13  ord_3             300000 non-null  float64
 14  ord_4             300000 non-null  float64
 15  ord_5             298512 non-null  float64
 16  day               300000 non-null  int64
 17  month             300000 non-null  int64
 18  target            300000 non-null  int64
 19  nom_0_Blue        300000 non-null  uint8
 20  nom_0_Green       300000 non-null  uint8
 21  nom_0_Red         300000 non-null  uint8
 22  nom_1_Circle      300000 non-null  uint8
 23  nom_1_Polygon     300000 non-null  uint8
 24  nom_1_Square      300000 non-null  uint8
 25  nom_1_Star        300000 non-null  uint8
 26  nom_1_Trapezoid   300000 non-null  uint8
 27  nom_1_Triangle    300000 non-null  uint8
 28  nom_2_Axolotl     300000 non-null  uint8
 29  nom_2_Cat         300000 non-null  uint8
 30  nom_2_Dog         300000 non-null  uint8
 31  nom_2_Hamster     300000 non-null  uint8
 32  nom_2_Lion        300000 non-null  uint8
 33  nom_2_Snake       300000 non-null  uint8
 34  nom_3_Canada      300000 non-null  uint8
 35  nom_3_China       300000 non-null  uint8
 36  nom_3_Costa Rica  300000 non-null  uint8
 37  nom_3_Finland     300000 non-null  uint8
 38  nom_3_India       300000 non-null  uint8
 39  nom_3_Russia      300000 non-null  uint8
 40  nom_4_Bassoon     300000 non-null  uint8
 41  nom_4_Oboe        300000 non-null  uint8
 42  nom_4_Piano       300000 non-null  uint8
 43  nom_4_Theremin    300000 non-null  uint8
dtypes: float64(10), int64(9), uint8(25)
memory usage: 62.9 MB