In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
import sklearn

In [3]:
train_data = pd.read_csv('C:/Users/cc/Desktop/Kaggle/Kaggle_feature_encoding/train.csv')
test_data = pd.read_csv('C:/Users/cc/Desktop/Kaggle/Kaggle_feature_encoding/test.csv')

In [5]:
train_data.set_index('id', inplace=True)
test_data.set_index('id', inplace=True)

In [7]:
train_data.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [6]:
train_data.shape

(300000, 24)

In [30]:
def bintonum(data):
    data['bin_3'] = data['bin_3'].map(lambda x : 1 if x =='T' else 0)
    data['bin_4'] = data['bin_4'].map(lambda x : 1 if x =='Y' else 0)

In [25]:
def nomtonum(data):

114967

In [28]:
sample['bin_3'] = sample['bin_3'].map(lambda x : 1 if x =='T' else 0)

In [29]:
sample

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,1,Y,Green,Triangle,Snake,Finland,Bassoon,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,0,1,0,1,Y,Green,Trapezoid,Hamster,Russia,Piano,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,0,0,0,0,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,0,1,0,0,Y,Red,Trapezoid,Snake,Canada,Oboe,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,0,0,0,0,N,Red,Trapezoid,Lion,Canada,Oboe,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,0,0,Y,Green,Star,Lion,Costa Rica,Bassoon,...,7588a06b1,1,Contributor,Lava Hot,e,Q,zU,7,2,0
1996,0,0,1,1,N,Green,Square,Lion,Costa Rica,Oboe,...,a80a52106,1,Contributor,Lava Hot,l,G,MO,5,3,1
1997,0,1,0,0,N,Blue,Square,Lion,Costa Rica,Bassoon,...,234dea393,1,Novice,Cold,i,D,on,3,11,0
1998,0,0,0,0,N,Green,Star,Cat,Finland,Oboe,...,2d0157e20,2,Grandmaster,Lava Hot,j,L,Qh,3,10,0
1999,0,0,0,1,N,Green,Star,Cat,Canada,Piano,...,c845b7516,1,Contributor,Hot,e,E,YC,7,1,1