In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
import sklearn

In [68]:
from sklearn.preprocessing import OrdinalEncoder

In [2]:
train_data = pd.read_csv('C:/Users/cc/Desktop/Kaggle/Kaggle_feature_encoding/train.csv')
test_data = pd.read_csv('C:/Users/cc/Desktop/Kaggle/Kaggle_feature_encoding/test.csv')

In [3]:
train_data.set_index('id', inplace=True)
test_data.set_index('id', inplace=True)

In [4]:
train_data.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [5]:
train_data.shape

(300000, 24)

In [172]:
dict_ord1 = {'Novice' : 0, 'Contributor' : 1, 'Expert' : 2, 'Master' : 3, 'Grandmaster': 4}
dict_ord3 = {'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6, 'h': 7, 
        'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14}
dict_ord4 = {'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6, 'h': 7, 
        'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p' :15, 'q':16, 'r':17, 's':18,
            't':19, 'u':20, 'v':21, 'w':22, 'x':23, 'y':24, 'z':25}
dict_ord5 = {'AP': 0, 'Ai': 1, 'Aj': 2, 'BA': 3, 'BE': 4, 'Bb': 5, 'Bd': 6, 'Bn': 7, 'CL': 8, 'CM': 9, 'CU': 10,
 'CZ': 11, 'DH': 12, 'DN': 13, 'Dc': 14, 'Dx': 15, 'Ed': 16, 'Eg': 17, 'Er': 18, 'FI': 19, 'Fd': 20, 'Fo': 21, 'GD': 22,
 'GJ': 23, 'Gb': 24, 'Gx': 25, 'Hj': 26, 'IK': 27, 'JX': 28, 'Jc': 29, 'Jf': 30, 'Jt': 31, 'KR': 32, 'KZ': 33, 'Kf': 34,
 'Kq': 35, 'LE': 36, 'MC': 37, 'MO': 38, 'MV': 39, 'Mf': 40, 'Ml': 41, 'Mx': 42, 'NV': 43, 'Nf': 44, 'Nk': 45, 'OR': 46,
 'Ob': 47, 'Os': 48, 'PA': 49, 'PQ': 50, 'PZ': 51, 'Ps': 52, 'QM': 53, 'Qb': 54, 'Qh': 55, 'Qo': 56, 'RG': 57, 'RL': 58,
 'RP': 59, 'Rm': 60, 'Ry': 61, 'SB': 62, 'Sc': 63, 'TR': 64, 'TZ': 65, 'To': 66, 'UO': 67, 'Uk': 68, 'Uu': 69, 'Vf': 70,
 'Vx': 71, 'WE': 72, 'Wc': 73, 'Wv': 74, 'XI': 75, 'Xh': 76, 'Xi': 77, 'YC': 78, 'Yb': 79, 'Ye': 80, 'ZR': 81, 'ZS': 82,
 'Zq': 83, 'aF': 84, 'aM': 85, 'aO': 86, 'aP': 87, 'ac': 88, 'av': 89, 'bF': 90, 'bJ': 91, 'be': 92, 'cA': 93, 'cG': 94,
 'cW': 95, 'ck': 96, 'cp': 97, 'dB': 98, 'dE': 99, 'dN': 100, 'dO': 101, 'dP': 102, 'dQ': 103, 'dZ': 104, 'dh': 105,
 'eG': 106, 'eQ': 107, 'eb': 108, 'ek': 109, 'ex': 110, 'fO': 111, 'fh': 112, 'gJ': 113, 'gM': 114, 'hL': 115, 'hT': 116,
 'hh': 117, 'hp': 118, 'iT': 119, 'ih': 120, 'jS': 121, 'jV': 122, 'je': 123, 'jp': 124, 'kC': 125, 'kE': 126, 'kK': 127,
 'kL': 128, 'kW': 129, 'ke': 130, 'kr': 131, 'kw': 132, 'lF': 133, 'lL': 134, 'll': 135, 'lx': 136, 'mb': 137, 'mc': 138,
 'mm': 139, 'nX': 140, 'nh': 141, 'oC': 142, 'oG': 143, 'oK': 144, 'od': 145, 'on': 146, 'ps': 147, 'qA': 148, 'qK': 149,
 'qP': 150, 'qX': 151, 'qo': 152, 'qv': 153, 'qw': 154, 'rZ': 155, 'ri': 156, 'rp': 157, 'sD': 158, 'sV': 159, 'sY': 160,
 'sn': 161, 'su': 162, 'tM': 163, 'tP': 164, 'tv': 165, 'uJ': 166, 'uS': 167, 'ud': 168, 'us': 169, 'ut': 170, 'uy': 171,
 'vK': 172, 'vy': 173, 'wu': 174, 'wy': 175, 'xy': 176, 'yN': 177, 'yY': 178, 'yc': 179, 'zU': 180}

In [217]:
def preprocessing(data):
    data['bin_3'] = data['bin_3'].map(lambda x : 1 if x =='T' else 0)
    data['bin_4'] = data['bin_4'].map(lambda x : 1 if x =='Y' else 0)    
    data['ord_1'] = data['ord_1'].map(dict_ord1)
    data['ord_2'] = data['ord_2'].map({'Freezing' : 0, 'Cold' : 1, 'Warm' : 2, 'Hot' : 3, 'Boiling Hot' : 4, 'Lava Hot' : 5})
    data['ord_3'] = data['ord_3'].map(dict_ord3)
    data['ord_4'] = data['ord_4'].map(dict_ord4)
    data['ord_5'] = data['ord_5'].map(dict_ord5)
    data = pd.get_dummies(data, columns=['nom_0', 'nom_1', 'nom_2', 'nom_3', 'nom_4'])

In [179]:
from sklearn.preprocessing import OneHotEncoder

In [189]:
enc = OneHotEncoder()

In [205]:
sample['nom_0'].value_counts()

Green    820
Blue     676
Red      504
Name: nom_0, dtype: int64

In [209]:
nom_0 = sample[['nom_0']]
nom_0 = enc.fit_transform(nom_0)
pd.DataFrame(nom_0.toarray()).sum()

0    676.0
1    820.0
2    504.0
dtype: float64

In [218]:
sample = pd.get_dummies(sample, columns=['nom_0', 'nom_1', 'nom_2', 'nom_3', 'nom_4'])

In [232]:
sample['nom_5']

id
0       50f116bcf
1       b3b4d25d0
2       3263bdce5
3       f12246592
4       5b0f5acd5
          ...
1995    5a466e166
1996    63f642dd9
1997    6c90f81cd
1998    1bd1068d9
1999    e1558b071
Name: nom_5, Length: 2000, dtype: object